@import "tailwindcss";

:root {
  --background: #F2F5F9;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #F2F5F9;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

body {
  background: var(--background);
  color: var(--foreground);
}
